* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background: linear-gradient(to right, #e0f7fa, #b2ebf2);
    text-align: center;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #004d40;
    color: white;
    padding: 10px 20px;
}



.logo {
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
    object-fit: cover; 
    border: 3px solid #4CAF50; 
}
.dropdown {
    position: relative;
    right: -100px;
}

.hover-button {
    background-color: #1abc9c;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.menu {
    display: none;
    position: absolute;
    background-color: rgba(56, 54, 54, 0.349);
    top: 40px;
    right: 0px;
    width: 150px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu a {
    display: block;
    color: black;
    font-weight: bolder;
    padding: 10px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #1abc9c;
    color: white;
}
.dropdown:hover .menu {
    display: block;
}


.navigation-arrows {
    display: flex;
    gap: 10px;
}

.arrow {
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.contact-section {
    max-width: 800px;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.info-box h3 {
    color: #00796b;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004d40;
}

footer {
    margin-top: 30px;
    padding: 10px 0;
    background-color: #004d40;
    color: white;
}

footer p {
    margin: 0;
}